div
{
  box-sizing: border-box;
}

h4
{
  color: white;
  margin: 0px;
  vertical-align: middle;
  line-height: normal;
  display: inline-block;
}

.box
{
  background-color: white;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  width: 1040px;
  height: 356px;
  text-align: center;
  margin: 50px auto;
}

.box1
{
  width: 1000px;
  height: 50px;
  background-color: rgba(78,210,234,255);
  margin-bottom: 8px;
  line-height: 50px;
}

.float_box
{
  width: 1000px;
  height: 200px;
}

.box2
{
  float: left;
  width: 245px;
  height: 200px;
  background-color:rgba(160,194,99,255);
  opacity: 0.6;
}

.box3
{
  float: right;
  width: 750px;
  height: 142px;
  background-color: rgba(245,197,49,255);
  margin-bottom: 8px;
}

.box4
{
  float: right;
  width: 750px;
  height: 50px;
  background-color: rgba(137,137,137,255);
  line-height: 50px;
}

.box5
{
  margin-top: 8px;
  width: 1000px;
  height: 50px;
  background-color: rgba(255,165,0,255);
  line-height: 50px;
}
